.about {
  padding-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  overflow: hidden;
}

.about__title {
  font-size: 35px;
  color: #3b99e0;
  text-align: center;
  padding-top: 20px;
}

.about__content {
  max-width: 449px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 17px;
  color: grey;
  margin-top: -10px;
  padding-bottom: 15px;
  line-height: 1.4;
}

.about__body a:hover {
  color: rgb(31, 210, 216);
}

@media (min-width: 768px) {
  .about__content {
    text-align: center;
    width: 449px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    color: gray;
    font-size: 17px;
    line-height: 1.4;
  }
}

.about__header {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.about__wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

.about__table {
  display: inline-block;
  background: white;
  margin: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
}

.about__body {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  line-height: 1;
  font-size: 14px;
  color: #4d5154;
  font-style: normal;
}

@media (max-width: 768px) {
  .about__table {
    width: 40%;
    font-size: 12px;
  }
  .about__header {
    margin-bottom: 5px;
  }
  .about__header img {
    width: 100%;
    height: 100%;
  }

  .about__body {
    padding: 0px;
  }

  .about {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 414px) {
  .about__table {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .about__header img {
    width: 100%;
  }
}
