.contact {
  padding-top: 50px;
  background-color: #f6f6f6;
  width: 100%;
  overflow: hidden;
}

.contact__title {
  font-size: 32px;
  color: #3b99e0;
  text-align: center;
  padding-top: 20px;
}

.contact__content {
  text-align: center;
  font-size: 17px;
  max-width: 449px;
  margin-left: auto;
  margin-right: auto;
  color: grey;
  margin-top: -10px;
  padding-bottom: 15px;
  line-height: 1.4;
}

.contact__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contact__table {
  border-radius: 0px;
  width: 40%;
  background-color: #ffffff;
  border-top: 2px solid #5ea4f3;
  padding: 40px;
  font-weight: normal;
  padding-bottom: 30px;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 414px) {
  .contact__table {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .contact__table {
    width: 65%;
  }
  .contact {
    padding-top: 15px;
  }
}

@media (min-width: 1921px) {
  .contact__table {
    width: 25rem;
  }
}

@media (max-width: 1920px) {
  .contact__table {
    width: 25rem;
  }
}

footer {
  position: static;
  bottom: 0;
}

@media (min-width: 768px) {
  .footer__wrapper {
    margin-top: 40px;
  }
}
@media (max-height: 800px) {
  footer {
    position: static;
  }
}
.footer__wrapper {
  background-color: #2b2f31;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 62px 0px 50px 42px;
  margin-top: 80px;
}

.footer__content {
  display: inline-block;
  vertical-align: top;
  color: #d2d1d1;
  width: 21%;
}

.footer__title {
  font-family: "montserratbold";
  color: #ffffff;
  font-size: 18px;
  padding-left: 7px;
}

@media (max-width: 550px) {
  .footer__content {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer__wrapper {
    display: inline-block;
    padding: 0px;
    padding-top: 60px;
    margin-top: 30px;
  }
  .footer__title {
    text-align: center;
  }
  .footer__content ul li {
    text-align: center;
  }
  .footer_arrow {
    display: none;
  }
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

li {
  border: none;
  text-align: left;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.footer_arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i {
  border: solid #3b99e0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-right: 7px;
}

.footer__copyright {
  background-color: #222425;
  color: #d2d1d1;
  text-align: center;
  padding: 20px;
}

@media (min-width: 1921px) {
  .footer__content {
    width: 24%;
  }
  .footer__wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .footer__copyright {
    max-width: 1880px;
    margin-left: auto;
    margin-right: auto;
  }
}
