.home {
  text-align: center;
  overflow: hidden;
}

.home__image {
  width: auto;
  height: 650px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  background-size: cover;
  position: relative;
}
.home__image:before {
  content: "";
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(10, 140, 220, 0.83);
}

.home__wrapper {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 40%;
  width: 100%;
}

.home__title {
  text-align: center;
  padding-bottom: 35px;
  color: white;
  font-size: 32px;
}

.home__content {
  text-align: center;
  font-size: 17px;
  line-height: 1.5;
  color: white;
  padding-bottom: 20px;
}

.home_button {
  font-size: 24px;
  color: white;
  padding: 10px 24px;
  border-color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .home {
    width: auto;
  }

  .home__title {
    font-size: 17px;
    padding-bottom: 18px;
  }
  .home_button {
    font-size: 12px;
    padding: 5px 11px;
  }
  .home__content {
    padding-bottom: 25px;
    line-height: 1.4;
    font-size: 10px;
  }
  .home__image {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 460px) {
  .home {
    width: auto;
  }
  .home__title {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .home_button {
    font-size: 10px;
    padding: 4px 10px;
  }
  .home__content {
    padding-bottom: 3px;
    font-size: 10px;
  }
}
@media (min-width: 1921px) {
  .home {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  .home__image {
    align-content: center;
    justify-content: center;
    max-width: 1920px;
  }
  .home__image img {
    width: 1920px;
  }
  .home__image:before {
    content: "";
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    background: rgba(10, 140, 220, 0.83);
  }

  .home__wrapper {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1920px) {
  .home__image img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .home__image {
    height: auto;
  }
}
