@font-face {
  font-family: simple-line-icons;
  src: url(./fonts/Simple-Line-Icons.eot);
  src: url(./fonts/Simple-Line-Icons.eot#iefix) format("embedded-opentype"),
    url(./fonts/Simple-Line-Icons.woff2) format("woff2"),
    url(./fonts/Simple-Line-Icons.ttf) format("truetype"),
    url(./fonts/Simple-Line-Icons.woff) format("woff"),
    url(./fonts/Simple-Line-Icons.svg#simple-line-icons) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: italic;
  src: url(./fonts/MontserratAlternates-LightItalic.otf) format("" otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_alternatesbold";
  src: url(./fonts/montserratalternates-bold-webfont.woff2) format("woff2"),
    url(./fonts/montserratalternates-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: url(./assets/fonts/montserrat-regular-webfont.woff2) format("woff2"),
    url(./assets/fonts/montserrat-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratbold";
  src: url(./assets/fonts/montserrat-bold-webfont.woff2) format("woff2"),
    url(./assets/fonts/montserrat-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
